:root {
    --main-color: #68A4C4;
    --white: white;
}

.icon-link,
.icon-style {
    border-style: solid !important;
    color: var(--main-color) !important;
}

.icon-link:hover {
    background-color: var(--main-color);
    color: var(--white) !important;
    border-color: var(--main-color) !important;
    transition: ease-in 0.2s;
}